@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json
@{
  Layout = "~/Views/Shared/MasterPage.cshtml";

}
<main id="login" class="login__wrapper bg-secondary">
  <div class="login__forgetPassword">
    <form ref="form" v-on:submit.prevent id="forgetPwdForm" accept-charset="UTF-8" role="form" method="post"
      autocomplete="off">
      <div class="card mb-3 p-5 shadow">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <img src="~/images/uxSign-logo.png" class="forgetPwd py-3">
              <h3 class="py-3 text-center fw-bolder">重設密碼</h3>
            </div>
            <p class="mb-1">請輸入您註冊時使用的email，我們將發送重設密碼說明給您</p>
            <div class="col-12 input__loginHeight">
              <label for="email" class="fw-bolder">Email</label>
              <input v-model="email" type="email" id="email" class="form-control"
                                   value="chris@uxb2b.com" name="Email" autofocus v-on:keyup="checkEmail(email)" />
              <div class="invalid-feedback">
                請輸入有效的電子郵件地址
              </div>
            </div>
            <div class="col-12 pt-4">
              <button type="button" class="btn btn-lg btn-primary w-100" :class="{'disabled': !isValidate}"
                v-on:click="forgetPwdHandler(email)" elevation="2">
                送出</button>
            </div>
            <div class="col-12 pt-5 text-center">
              <a class="btn btn-light" href="@(Url.Action("Login", "Account"))">
                <i class="far fa-undo-alt"></i> 返回登入頁
              </a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</main>
<script>
  var app = new Vue({
    el: '#login',
    data: {
      isValidate: false,
      isContactEmail: false,
      email: null,
    },
    methods: {
      checkEmail(emailString) {
        // email輸入檢核
        if (emailString.length > 0) {
          const emailRegex = /^[A-Za-z0-9._%+-]+@@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$/;
          const checkEmail = emailRegex.test(emailString);
          this.isContactEmail = !checkEmail;
          return this.isValidate = checkEmail;
        }
      },

      // ajax 送出表單
      forgetPwdHandler(emailString) {
        showLoading();
        aaa= {
            "Email": emailString,
            "Item":"forgetPassword"
        },
        $.ajax({
            url: '@(Url.Action("PasswordApply", "Account"))',
            contentType: "application/json;charset=utf-8",
            type: "Post",
            data: JSON.stringify(aaa),
            success: function (data) {
                            if (data.hasError) { alertModal(data.message); hideLoading(); return; }
                else { window.location.href = '@(Url.Action("ForgetPassword", "Account"))'; }
            },
            error: function (xhr) {

            }
        });
  @* $.ajax({
          type: 'POST',
          url: '@(Url.Action("CheckLogin", "Account"))',
          data: JSON.stringify(this.formData),
          type: "POST",
          //dataType: "json",
          contentType: "application/json;charset=utf-8",
          success: function (data) {
          hideLoading();
          if ($.isPlainObject(data)) {
          if (data.result) {
          showLoading();
          window.location.href = data.message;
          } else {
          alertModal(data.message);
          }
          } else {
          $(data).appendTo($('body')).remove();
          }
          },
          error: function (xhr, ajaxOptions, thrownError) {
          hideLoading();
          console.log(xhr.status);
          console.log(thrownError);
          }
          }); *@
      }
    }
  });
</script>
