@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";

    ModelStateDictionary _modelState;
    ModelSource? models;
    ContractSealRequest _model = (ContractSealRequest)this.Model;

    models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;

}

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <div class="panel-default">
                <div class="panel-body">
                    <form id="form1" accept-charset="UTF-8" role="form" method="post" autocomplete="off">
                        <fieldset>
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome Digital Contracting !</h1>
                            </div>
                            <div class="form-group prompt">
                                <label for="user_login">ID</label>
                                <input class="form-control" name="PID" type="text" required autofocus>
                            </div>
                            <div class="form-group prompt">
                                <label>Password</label>
                                <a class="form-sublink" href="@(Url.Action("ForgetPassword","Account"))">Forgot password</a>
                                <input class="form-control" name="Password" type="password" value="" required>
                            </div>
                            <button id="btn" type="button" class="btn btn-inverted btn-block mb-4">Sign In</button>
                            <div class="form-group">
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("~/Views/Shared/ReportInputError.cshtml");
}
<script>

    $('#btn').click(function () {
        var event = event || window.event;
        $('form').prop('action', '@(Url.Action("Login", "Account"))').submit();
    });

</script>
