@using Microsoft.Win32;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">簽章測試</h1>
    TwcaCapiX元件：
    @{
        RegistryKey rkTest = Registry.ClassesRoot.OpenSubKey("TypeLib\\{913BFDD8-D3EB-4B72-90D4-D56B903F7F55}");
        if (rkTest == null)
        {
            <div id="capixInfo">
                <a href="javascript:registerTwcaCapiX();">未註冊，請點這裡進行註冊!!</a>
                <script>
                    function registerTwcaCapiX() {
                        $.post('@Html.Raw(Url.Action("RegisterObject", "TWCACAPI"))', {}, function(data) {
                            if ($.isPlainObject(data)) {
                                alert(data.message);
                            } else {
                                $('#capixInfo').empty()
                                    .append(data);
                            }
                        });
                    }
                </script>
            </div>
        }
        else
        {
            <div>已註冊</div>
        }
    }
        <br />
    簽章明文：<br />
    <textarea id="dataToSign" rows="10" cols="80"></textarea>
    <br />
    <button type="button" name="btnSignCms" onclick="signCms();">Pkcs#7格式簽章</button>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" name="btnSignXml" onclick="signXml();">Xml數位簽章</button>
    <br />
    數位簽章：<br />
    <textarea id="dataSignature" rows="10" cols="80"></textarea>
    <br />
</div>
<script>

    function signCms() {
        var pbData = $('#dataToSign').val();
        var dataSignature = capix.Sign(pbData);
        $('#dataSignature').val(dataSignature);

        var erCode = capix.GetErrorCode();
        if (erCode != 0) {
            alert("加簽失敗 , 原因 :" + capix.ResultObject.errorMessage);
            return false;
        } else {

            return true;
        }
    }

    function signXml() {
        var pbData = $('#dataToSign').val();
        var dataSignature = capix.SignXml(pbData);
        $('#dataSignature').val(dataSignature);

        var erCode = capix.GetErrorCode();
        if (erCode != 0) {
            alert("加簽失敗 , 原因 :" + capix.ResultObject.errorMessage);
            return false;
        } else {
            return true;
        }
    }
</script>
