@{
  Layout = "~/Views/Shared/MasterPage.cshtml";
  <script src="~/js/api.js"></script>
}
<main id="passwordChange" class="fullHeight ">
  <div class="login__forgetPassword">
    <form ref="form" autocomplete="off">
      <div class="card mx-3 mb-3 p-5 shadow">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <h3 class="py-3 text-center fw-bolder">密碼變更</h3>
            </div>
            <div class="col-12 input__loginHeight">
              <label for="oldPassword" class="fw-bolder">舊密碼</label>
              <input v-model.trim="form.OldPassword" type="password" id="oldPassword"
                class="form-control form-control-sm" placeholder="請輸入舊密碼" :class="{'is-invalid': isEmptyOldPassword}"
                v-on:keyup="checkOldPassword(form.OldPassword)" />
              <div class="invalid-feedback text-end">
                {{ oldMsg }}
              </div>
            </div>
            <div class="col-12 input__loginHeight">
              <label for="newPassword" class="fw-bolder">新密碼</label>
              <input v-model.trim="form.NewPassword" type="password" id="newPassword"
                class="form-control form-control-sm" placeholder="請輸入新密碼" :class="{'is-invalid': isEmptyNewPassword}"
                v-on:keyup="checkNewPassword(form
                .NewPassword)" />
              <div class="invalid-feedback text-end">
                {{ newMsg }}
              </div>
            </div>
            <div class="col-12 input__loginHeight">
              <label for="reNewPassword" class="fw-bolder">確認新密碼</label>
              <input v-model.trim="ReNewPassword" type="password" id="reNewPassword"
                class="form-control form-control-sm" placeholder="請再次輸入新密碼"
                :class="{'is-invalid': isEmptyReNewPassword}"
                v-on:keyup="checkReNewPassword(ReNewPassword); comparePassword()" />
              <div class="invalid-feedback text-end">
                {{ reNewMsg }}
              </div>
            </div>
            <div class="col-12 pt-3">
              <div class="alert bg-warning bg-opacity-25">
                <ul class="mb-0 small">
                  <li>至少有一個數字和一個特殊符號</li>
                  <li>至少有一個大寫或小寫英文字母</li>
                  <li>字串長度在 6 ~ 30 個字母之間</li>
                </ul>
              </div>
            </div>
            <div class="col-12 pt-1">
              <button type="button" class="btn btn-lg btn-primary w-100" v-on:click="changePwdHandler" elevation="2">
                送出</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- 訊息 Dialog -->
    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center h5 fw-bolder pt-5">
            <div v-html="infoMsg"></div>
          </div>
          <div class="modal-footer border-top-0 justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="redirectUrl">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  var app = new Vue({
    el: '#passwordChange',
    data: {
      isValidate: true,
      isEmptyOldPassword: false,
      isEmptyNewPassword: false,
      isEmptyReNewPassword: false,
      isSame: true,
      oldMsg: null,
      newMsg: null,
      reNewMsg: null,
      form: {
        EncPID: null,
        OldPassword: null,
        NewPassword: null,
      },
      ReNewPassword: null,
      changeStatus: false,
      infoMsg: null
    },
    mounted() {
      this.form.EncPID = this.getCookie('userID');
    },
    methods: {
      // 取得 EncPID
      getCookie(cname) {
        const name = cname + "=";
        const ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          const c = ca[i].trim();
          if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
      },
      checkOldPassword(password) {
        const isEmpty = !password;
        this.isEmptyOldPassword = isEmpty;
        this.oldMsg = isEmpty ? '請輸入舊密碼' : null;
      },
      checkNewPassword(password) {
        const isEmpty = !password;
        this.comparePassword();
        this.isEmptyNewPassword = isEmpty || !this.isSame;
        this.newMsg = isEmpty ? '請輸入新密碼' : !this.isSame ? '新密碼輸入不一致，請再重新確認。' : null;
      },
      checkReNewPassword(password) {
        const isEmpty = !password;
        this.comparePassword();
        this.isEmptyReNewPassword = isEmpty || !this.isSame;
        this.reNewMsg = isEmpty ? '請輸入新密碼' : !this.isSame ? '新密碼輸入不一致，請再重新確認。' : null;
      },
      // 比對新密碼是否一致
      comparePassword() {
        const newPassword = !!this.form.NewPassword && this.form.NewPassword;
        const reNewPassword = !!this.ReNewPassword && this.ReNewPassword;
        this.isSame = !newPassword || !reNewPassword || newPassword === reNewPassword;
      },

      // 送出表單
      changePwdHandler() {
        // 送出表單前先檢核欄位
        this.checkOldPassword(this.form.OldPassword);
        this.checkNewPassword(this.form.NewPassword);
        this.checkReNewPassword(this.ReNewPassword);
        if (this.isEmptyOldPassword || this.isEmptyNewPassword || this.isEmptyReNewPassword) return;

        showLoading();
        // Post API
        postData('@(Url.Action("PasswordChange", "UserProfile"))', { ...this.form })
          .then((data) => {
            hideLoading();
            this.changeStatus = data.result;
            if (data.result) {
              // 成功
              this.infoMsg = `<div class="pb-2 text-success opacity-75" style="font-size: 4rem"><i class="far fa-check-circle"></i></div><div class="lh-base"> 密碼變更成功，請按關閉並重新登入 </div>`;
            } else {
              // 失敗            
              this.infoMsg = `<div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="far fa-exclamation-circle"></i></div><div class="lh-base"> ${data.message.replace(/、/g, '<br>')} </div>`;
            }

            $("#infoModal").modal("show");
          })
      },

      redirectUrl() {
        if (this.changeStatus) {
          window.location.href = '@(Url.Action("Logout", "Account"))';
        }
      },
    }
  });
</script>
