@{
  Layout = "~/Views/Shared/MasterPage.cshtml";

  <script src="~/js/api.js"></script>
}
<div id="historyReport">
  <div class="container-lg">
    <section class="queryform">
      <!-- 標題 -->
      <h4 class="mb-2 pt-4 fw-bolder">簽署文件報表 (Excel)</h4>
      <!-- 文件搜尋 -->
      <div class="card shadow-sm">
        <!--<form v-on:submit.prevent method="post" enctype="multipart/form-data">-->
        <form v-on:submit.prevent method="post" enctype="multipart/form-data">
          <div class="container">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 m-3 mb-lg-0 data-item">
              <div class="col input__height">
                <div class="row">
                  <label for="QueryDateFromString"
                    class="col-sm-12 col-md-4 col-form-label fs-14 fw-bolder">簽署(起日)</label>
                  <div class="col-sm-12 col-md-8">
                    <input v-model="formData.QueryDateFromString" type="text" class="form-control"
                      id="QueryDateFromString" />
                  </div>
                </div>
              </div>
              <div class="col input__height">
                <div class="row">
                  <label for="QueryDateEndString"
                    class="col-sm-12 col-md-4 col-form-label fs-14 fw-bolder">簽署(迄日)</label>
                  <div class="col-sm-12 col-md-8">
                    <input v-model="formData.QueryDateEndString" type="text" class="form-control"
                      id="QueryDateEndString" />
                  </div>
                </div>
              </div>
              <div class="col input__height">
                <div class="row">
                  <label for="CompanyID" class="col-sm-12 col-md-3 col-form-label fs-14 fw-bolder">起約人</label>
                  <div id="CompanyID" class="col-sm-12 col-md-9" style="z-index: 3;">
                    <input v-model="formData.CompanyName" type="text" class="form-control" name="CompanyID"
                      placeholder="可輸入關鍵字查詢公司名稱" autocomplete="off" />
                    <ul v-show="isInitiatorOptionsOpen" class="list-group mb-3 shadow__card">
                      <li v-for="(result, index) in searchResults" :key="index"
                        class="list-group-item list-group-item-action" v-on:click="setResult(result)"
                        :class="{'active': index === currentlyCounter}">
                        {{ result.CompanyName }}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-12 hstack gap-3 py-3">
          <div class="ms-auto">
            <button type="button" class="btn btn-secondary opacity-75" v-on:click="resetHandler">重設</button>
          </div>
          <div>
            <button type="button" class="btn-primary" v-on:click="inquireData">查詢 / 下載</button>
          </div>
        </div>
      </div>
    </section>

    <!-- 訊息 Dialog -->
    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="infoModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center h5 fw-bolder pt-5">
            <!--
            <div class="pb-2 text-success opacity-75" style="font-size: 4rem"><i class="far fa-check-circle"></i></div>
            -->
            <div v-html="infoMsg"></div>
          </div>
          <div class="modal-footer border-top-0 justify-content-center">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var app = new Vue({
    el: '#historyReport',
    data: {
      formData: {
        QueryDateFromString: null,
        QueryDateEndString: null,
        CompanyID: null,
        CompanyName: null,
      },
      /** 分頁 options
       * totalRecordCount: 總筆數
       * pageSize: 每頁筆數
       * totalPages: 總頁數
       * page: 目前頁面
       */
      totalRecordCount: 0,
      pageSize: 12,
      page: 1,
      sort: null,
      currentSortName: '排序項目',
      SortName: [],
      SortType: [],
      SortList: [
        { text: '排序項目', value: '' },
        { text: '合約編號', value: 'ContractNo' }
      ],
      contractList: [],
      isSortDateFrom: true,
      isSortNo: true,
      /**
       * Autocomplete
       */
      companyOptions: [],
      isInitiatorOptionsOpen: false,
      //isContractorOptionsOpen: false,
      searchResults: [],
      infoMsg: null,
      currentlyCounter: -1,
    },
    watch: {
      // 檢查公司名稱輸入框的值，並執行Autocomplate
      'formData.CompanyName'() {
        this.filterResults();
      },
    },
    computed: {
      // 計算總頁數
      totalPages() {
        const totalCount = Number.parseInt(this.totalRecordCount, 10);
        const pageSize = Number.parseInt(this.pageSize, 10);
        return Math.ceil(totalCount / pageSize);
      }
    },
    mounted() {
      // 日曆選單
      const self = this;
      $('#QueryDateFromString').datepicker({
        locale: 'zh-tw',
        uiLibrary: 'bootstrap5',
        format: 'yyyy/mm/dd',
        change: function (e) {
          self.formData.QueryDateFromString = this.value;
        }
      });
      $('#QueryDateEndString').datepicker({
        locale: 'zh-tw',
        uiLibrary: 'bootstrap5',
        format: 'yyyy/mm/dd',
        change: function (e) {
          self.formData.QueryDateEndString = this.value;
        }
      });

      // 輸入框 click outside 時 AutoComplete 收起
      window.addEventListener('click', function (e) {
        const initiatorContainer = $('#CompanyID');
        const contractorContainer = $('#contractorField');
        // 起約人
        if (!initiatorContainer.is(e.target) &&
          !initiatorContainer.has(e.target).length
        ) {
          self.isInitiatorOptionsOpen = false;
        }
        // 簽約人
        if (!contractorContainer.is(e.target) &&
          !contractorContainer.has(e.target).length
        ) {
          self.isContractorOptionsOpen = false;
        }
      });
    },
    methods: {
      // 查詢文件
      inquireData() {
        this.fetchAPI();
      },

      // 執行查詢
      fetchAPI() {
        const currentDate = new Date();
        const { QueryDateFromString, QueryDateEndString, CompanyID, CompanyName } = this.formData;
        const payload = {
          QueryDateFromString,
          QueryDateEndString,
          CompanyID
        };
        const fromDate = new Date(QueryDateFromString);
        const endDate = new Date(QueryDateEndString);

        // 輸入欄位檢核
        if (currentDate.getTime() < fromDate.getTime()) {
          this.infoMsg = `
            <div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="fas fa-exclamation-circle"></i></div>
            <div>簽約起日不得大於今天</div>`;
          $('#infoModal').modal('show');
          return;
        };

        if (currentDate.getTime() < endDate.getTime()) {
          this.infoMsg = `
            <div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="fas fa-exclamation-circle"></i></div>
            <div>簽約迄日不得大於今天</div>`;
          $('#infoModal').modal('show');
          return;
        };

        if (endDate.getTime() < fromDate.getTime()) {
          this.infoMsg = `
            <div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="fas fa-exclamation-circle"></i></div>
            <div>簽約迄日不得小於簽約起日</div>`;
          $('#infoModal').modal('show');
          return;
        };

        const fromString = QueryDateFromString?.split('/').join().replaceAll(',', '');
        const endString = QueryDateEndString?.split('/').join().replaceAll(',', '');
        showLoading();
        const self = this;
        $.ajax({
          url: '@(Url.Action("RptSignatureList", "ContractConsole"))',
          data: JSON.stringify(payload),
          type: "POST",
          contentType: "application/json;charset=utf-8",
          xhrFields: {
            responseType: 'blob', //'arraybuffer'
          },
          success: function (res, _, xhr) {
            const fileName = xhr
              .getResponseHeader("content-disposition")
              .split(";")[1]
              .split("filename=")[1];
            const fileNameFormat = `${fileName.split('-')[0]}-${fromString || 0}-${endString || 0}_${CompanyName || 0}`;
            let blob = new Blob([res], {
              // 對於 BIFF .xls 文件
              // type: "application/vnd.ms-excel",
              // 對於Excel2007以上版本的.xlsx文件
              type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            });
            let link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            // 設定下載的檔名
            link.download = fileNameFormat;
            link.click();
            // 5 秒後清除
            setTimeout(() => window.URL.revokeObjectURL(link.href), 5000);
            hideLoading();
          },
          error: function (xhr, status, thrownError) {
            hideLoading();
            self.infoMsg = `
              <div class="pb-2 text-danger opacity-75" style="font-size: 4rem"><i class="fas fa-exclamation-circle"></i></div>
              <div>查詢日期範圍不得大於今日</div>`;
            $('#infoModal').modal('show');
          }

        });
      },

      // 重設查詢
      resetHandler() {
        this.formData = {
          QueryDateFromString: null,
          QueryDateEndString: null,
          CompanyID: null,
          CompanyName: null,
        }
      },

      // Reset 欄位檢核
      resetValidate(status) {
        this[status] = false;
      },

      /** 公司名稱 Autocomplate
       * 篩選出對應輸入框的清單
       */
      filterResults() {
        // 搜尋資料來源
        const inputValue = this.formData.CompanyName;
        this.searchResults = !inputValue ? [] : this.companyOptions.filter((item) => {
          return item.toLowerCase().indexOf(inputValue.toLowerCase()) > -1;
        });

        const payload = {
          Term: inputValue
        };
        fetchDataList(payload, '@(Url.Action("VueSearchCompany", "Home"))',
          function (dataItems) {
            app.searchResults = dataItems;
            app.isInitiatorOptionsOpen = $.isArray(dataItems) && dataItems.length > 0;
          });
      },
      // 選取值後代入欄位
      setResult(result) {

        if (this.searchResults.length !== 0) {
          this.formData.CompanyID = result.KeyID;
          this.formData.CompanyName = result.CompanyName;

          this.clearAll();
        }
      },
      // 還原初始化
      clearAll() {
        this.currentlyCounter = -1;
        this.$nextTick(() => {
          this.isInitiatorOptionsOpen = false;
        })
      },
    }
  });
</script>
