@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json
@{
  Layout = "~/Views/Shared/MasterPage.cshtml";

  ModelStateDictionary _modelState;
  ModelSource? models;

  models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
  _modelState = (ModelStateDictionary)ViewBag.ModelState;
  QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;

  _viewModel.UrlAction = Url.Action("InquireData", "Organization");
}
<div id="organization" class="container-lg">
  <section>
    <!-- Section title -->
    @{
        // await Html.RenderPartialAsync("~/Views/Shared/Global/PageResource.cshtml");
        await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "會員基本資料維護");
        // await Html.RenderPartialAsync("~/Views/Common/Module/InquiryAgent.cshtml");
        // await Html.RenderPartialAsync("~/Views/Common/Module/InquiryAgentAction.cshtml");
    }

    <!--Section: Demo-->
    <div class="card">
      <form v-on:submit.prevent="inquireData" method="post" enctype="multipart/form-data">
        <div class="container"> 
          <div class="row data-item">
            <!--
            @{
                await Html.RenderPartialAsync("~/Views/Organization/Module/EditItem.cshtml");
            }
            -->
            <div class="col-md-4">
                <label for="CompanyName" class="form-label">公司名稱</label>
                <input type="text" class="form-control" name="CompanyName" id="CompanyName">
            </div>
            <div class="col-md-4">
                <label for="ReceiptNo" class="form-label">統一編號</label>
                <input type="text" class="form-control" name="ReceiptNo" id="ReceiptNo">
            </div>
            <div class="col-md-4">
                <label for="Phone" class="form-label">電話</label>
                <input type="text" class="form-control" name="Phone" id="Phone">
            </div>
            <div class="col-md-4">
                <label for="Fax" class="form-label">傳真</label>
                <input type="text" class="form-control" name="Fax" id="Fax">
            </div>
            <div class="col-md-4">
                <label for="Addr" class="form-label">地址</label>
                <input type="text" class="form-control" name="Addr" id="Addr">
            </div>
            <div class="col-md-4">
                <label for="ContactEmail" class="form-label">電子郵件</label>
                <input type="text" class="form-control" name="ContactEmail" id="ContactEmail">
            </div>
            <div class="col-md-4">
                <label for="UndertakerName" class="form-label">負責人</label>
                <input type="text" class="form-control" name="UndertakerName" id="UndertakerName">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-md-4 mt-2">
        <button type="button" class="btn-primary" onclick="$global.dataTable.commitData(true);">新增</button>
        <button type="button" class="btn-primary" onclick="$global.dataTable.commitData();">修改</button>
        <button type="button" class="btn-danger" onclick="$global.dataTable.deleteData();">刪除</button>
        <button type="button" class="btn-primary" onclick="$global.dataTable.inquireData();">查詢</button>
      </div>
    </div>
  </section>
</div>
<script>
    $global.dataTable = {
        'inquireData': function ($tr) {
            var $tr = $tr || $(window.event.target).closest('form').find('div.data-item');
            $inquiryAgent.viewModel.DataItem = $tr.find('input,select,textArea').serializeArray();
            $inquiryAgent.inquire();
        },
        'commitData': function (addNew) {
            if(addNew) {
                delete $inquiryAgent.viewModel.EncKeyItem;
                delete $inquiryAgent.viewModel.KeyItem;
            }
            var $tr = $(window.event.target).closest('form').find('div.data-item');
            $inquiryAgent.viewModel.DataItem = $tr.find('input,select,textArea').serializeArray();
            showLoading();
            $.ajax({
                url: '@(Url.Action("CommitItem", "Organization"))',
                data: JSON.stringify($inquiryAgent.viewModel),
                type: "POST",
                //dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        if(data.result) {
                            alertModal('存檔完成!!');
                        } else {
                            alertModal('存檔失敗，原因：'+data.message);
                        }
                    } else {
                        $('body').append($(data));
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    hideLoading();
                    alertModal(thrownError);
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        },
        'deleteData': function () {
            if (!confirm('請確認刪除資料？刪除後無法復原！')) {
                return;
            }
            var $tr = $(window.event.target).closest('form').find('div.data-item');
            showLoading();
            $.ajax({
                url: '@(Url.Action("DeleteItem", "Organization"))',
                data: JSON.stringify({'EncKeyItem': $inquiryAgent.viewModel.EncKeyItem}),
                type: "POST",
                //dataType: "json",
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            alertModal('資料已刪除!!');
                            delete $inquiryAgent.viewModel.EncKeyItem;
                            delete $inquiryAgent.viewModel.KeyItem;
                            $global.dataTable.inquireData($tr);
                        } else {
                            alertModal('刪除未完成，原因：' + data.message);
                        }
                    } else {
                        $(data).appendTo($('body')).remove();
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    hideLoading();
                    alertModal(thrownError);
                    console.log(xhr.status);
                    console.log(thrownError);
                }
            });
        },

    }
    $inquiryAgent.showQueryResult = function (data) {
        var $tr = $('form div.data-item');
        $tr.empty().append($(data));
    }
</script>

