html {
  min-height: 100%;
  position: relative;
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  margin-bottom: 60px;
}

.error-msg {
  border: 1px dotted red;
  font-style: italic;
  color: red;
}