@charset "UTF-8";

@mixin sm {
  @media(max-width: 576px) {
    @content
  }
}

@mixin md {
  @media(max-width: 768px) {
    @content
  }
}

@mixin lg {
  @media(max-width: 992px) {
    @content
  }
}

@mixin xl {
  @media(max-width: 1200px) {
    @content
  }
}

@mixin xxl {
  @media(max-width: 1400px) {
    @content
  }
}

* {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Microsoft JhengHei, 新微軟正黑體, 微軟正黑體, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
html, body {
  height: 100%;
  background-color: #f2f2f2;
}

/* Tooltip container */
.tooltip {
  &__wrapper {
    position: relative;
    display: inline-block;
    z-index: 4;

    &:hover {
      .tooltip__text {
        display: inline-block;
        opacity: .9;
        transition: opacity .15s linear;
      }
    }
  }

  &__text {
    padding: 5px 10px;
    display: none;
    position: absolute;
    top: -38px;
    left: 50%;
    font-size: 0.875rem;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    background-color: #000000;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity .15s linear;
    z-index: 1;

    &::after {
      display: block;
      width: 10px;
      height: 5px;
      position: absolute;
      top: 31px;
      left: 50%;
      content: "";
      border-width: 5px;
      border-style: solid;
      border-color: #000000 transparent transparent transparent;
      transform: translateX(-50%);
    }

    &--bottom {
      top: 55px;

      &::before {
        display: block;
        width: 10px;
        height: 5px;
        position: absolute;
        top: -10px;
        left: 50%;
        content: "";
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #000000 transparent;
        transform: translateX(-50%);
      }

      &::after {
        display: none;
      }
    }
  }
}

#mainNavBar {
  .v-application {
    &--wrap {
      min-height: initial;
    }
  }
}

.nav-link {
  &.menuLink {
    color: #FFFFFF;
  }
}

// #listToStampIndex,
// #queryIndex,
// #maintainSeal {
//   background-color: #f2f2f2;
// }

// header 底色
.border {
  &__uxb2b--bottom {
    border-bottom: 1px solid #bec2c6 !important;
  }
}

.shadow {
  &__card {
    box-shadow: 0 .20rem .25rem rgba(0, 0, 0, .095) !important;
  }
}

.navbar-uxb2b {
  background-color: rgba(133, 187, 249, 0.75);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.login {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #2c70a6;
    background-image: url('../images/login-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__signin {
    width: 100%;
    max-width: 1280px;
    margin: auto;

    @include xxl {
      max-width: 80%;
    }

    @include md {
      max-width: 80%;
    }

    @include sm {
      max-width: 90%;
    }
    .card {
      border-radius: 0.5rem;
    }
  }
  &__forgetPassword {
    width: 100%;
    max-width: 520px;
    margin: auto;
  }

  &__intro {
    min-height: 450px;
    background-image: url('../images/login-banner.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;

    @include xl {
      min-height: 300px;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0;
    }
    img {
      height: 72px;
    }
  }

  &__footer {
    text-align: center;
    font-size: 0.875rem;
    color: #FFFFFF;
    a {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-size: 0.875rem;
      color: #FFF;
      &:hover {
        color: #333;
      }
    }
  }
}
.forgetPwd {
  height: 72px;
}

// infoAlert 通知列
.infoAlert {
  display: none;
  margin: 0 10px;
  padding: 30px;
  width: calc(100% - 20px);
  position: fixed;
  bottom: 10px;
  z-index: 4;
  a {
    margin-left: 0;
    margin-right: 0;
    font-size: 1rem;
    // color: #FFF;
    // &:hover {
    //   color: #333;
    // }
  }
  &.show {
    display: flex;
  }
}

// 輸入框高度
.input {

  // 登入
  &__loginHeight {
    height: 93px;
    padding-top: 5px;
    padding-bottom: 0;
  }

  // 搜尋
  &__height {
    height: 62px;

    @include md {
      height: auto;
    }
  }
}

// 圓形按鈕
.icon {
  &__rounded {
    width: 33px;

    >i {
      width: 15px;
    }
  }
}

.error-msg {
  border: 1px dotted red;
  font-style: italic;
  color: red;
}

// 進度條
.progresses {
  &__wrapper {
    height: 110px;
    display: inline-flex;
    align-items: start;
    overflow: hidden;
    overflow-x: auto;
  }

  &__stepGroup {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    font-size: 14px !important;
    position: relative;
    z-index: 2;
  }
  
  &__companyGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px !important;
    z-index: 2;
  }

  &__steps {
    display: flex;
    width: 35px;
    height: 35px;
    margin-top: 4px;
    margin-bottom: 6px;
    align-items: center;
    justify-content: center;
    background-color: #B5BABE;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    z-index: 2;

    &--done {
      background-color: #63d19e;
      &:hover {
        background-color: #63d19e !important;
      }
    }
    &--actived {
      background-color: #4f81ee;

      &:hover {
        background-color: #3c68c9 !important;
      }
    }

    &:hover {
      color: #ffffff;
      background-color: #a2a6aa;
    }

    &.disabled {
      opacity: 1;
    }
  }

  &__line {
    width: 100%;
    height: 5px;
    position: absolute;
    border-top: 3px solid #B5BABE;
    top: calc(50% - 4px);
    left: -28px;

    &--done {
      background-color: #63d19e;
    }

    &--w200 {
      width: 200px;
    }
  }
  &__btn {
    position: relative;
  }

  &__signature {
    &.progresses__steps--done {
      background-color: #FFA500;
    }

    &.progresses__line--done {
      background-color: #FFA500;
    }
  }

  // 流程廠商區塊設定
  &__company {
    width: 90px;
    // height: 31px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &__name {
    max-width: 70px;    
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1.5;
    color: #a5a5a5;
    text-align: center;
    white-space: normal;
    vertical-align: baseline;
    border-radius: 0.25rem;
  }
}

// 拖曳輸入框
.dropzone {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  border: 3px dotted rgba(0, 0, 0, .3);
  border-radius: 1rem;
  background: #f1f6ff;
}

.dz-button {
  &.btn:focus {
    box-shadow: none;
  }
}

.uploadFile {
  &__message {
    position: absolute;
    bottom: 18px;
    left: 50%;
    transform: translateX(-50%);
  }
}

// 顏色
.cornflowerBlue {
  color: #6495ED;
}

.mediumSlateBlue {
  color: #7B68EE;
}

// 陰影
.boxShadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

// 按鈕
.btn-stamp {
  color: #fff;
  background-color: #21b22c;
  border-color: #21b22c;

  &:hover {
    color: #fff;
    background-color: #1aa926;
    border-color: #1aa926;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(172, 241, 159, 0.25);
  }
}

.btn-sign {
  color: #fff;
  background-color: #fc9600;
  border-color: #fc9600;

  &:hover {
    color: #fff;
    background-color: #e28a05;
    border-color: #e28a05;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 215, 159, 0.25);
  }
}

.btn-brown {
  color: #fff;
  background-color: #fc9600;
  border-color: #fc9600;

  &:hover {
    color: #fff;
    background-color: #e28a05;
    border-color: #e28a05;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 215, 159, 0.25);
  }
}

.btn-block {
  color: #fff;
  background-color: #000000;
  border-color: #000000;

  &:hover {
    background-color: #000000;
    border-color: #000000;
  }

  &.active {
    outline: #000000 4px double;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 215, 159, 0.25);
    outline: #000000 4px double !important;
  }
}

.btn-blue {
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;

  &:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
  }

  &.active {
    outline: #0b5ed7 4px double;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 215, 159, 0.25);
    outline: #0b5ed7 4px double !important;
  } 
}

.btn-red {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;

  &:hover {
    background-color: #bb2d3b;
    border-color: #b02a37;
  }

  &.active {
    outline: #b02a37 4px double;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 215, 159, 0.25);
    outline: #b02a37 4px double !important;
  }
}

.bd-orange-100 {
  padding: 4px 10px;
  color: #666666;
  background-color: #eeeeee;
  border: #eeeeee solid 1px;
  border-radius: 4px;
  font-size: 14px;
  text-align: left;

  &:hover {
    background-color: #eeeeee;
    border-color: #eeeeee;
  }

  &.active {
    outline: #eeeeee 4px double;
  }

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(241, 215, 159, 0.25);
    outline: #eeeeee 4px double !important;
  }

  &.disabled {
    pointer-events: none;
  }
}

.btn {
  &--size-20 {
    width: 20px;
    height: 20px;
  }
}

.block {
  &--hover {
    cursor: pointer;

    .block--show {
      display: none;
    }

    &:hover {
      background-color: #f4f2f2;

      .block--show {
        display: block;
      }
    }

    [type="file"] {
      position: absolute;
      top: 50px;
      opacity: 0;
    }
  }

  &--border {
    &:hover {
      outline: #9cc2fa solid 3px;
    }
  }
}

// 用印圖片區
.contractImg {
  margin: auto;
  background-color: #FFFFFF;
  // cursor: crosshair;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.095);
  position: relative;
}

.contract {
  &__wrapper {
    height: 100%;
    position: relative;
  }

  &__arrow {
    &--left {
      position: absolute;
      top: 50%;
      left: 50px;
      z-index: 10;
    }

    &--right {
      position: absolute;
      top: 50%;
      right: 70px;
      z-index: 10;
    }
  }

  &__list {
    max-height: 145px;
    overflow: hidden;
    overflow-y: auto;
  }
}
// 用印簽名區
#signatureCanvas {
  > canvas {
    border-radius: 3px;
  }
}

.pdf {
  &__wrapper {
    padding: 30px 10px;
    height: 100%;
    display: block;
    // text-align: center;
    overflow-y: auto;
    background-color: #fbf8f8;
  }
}

// 虛擬印章區塊
.vmSeal {
  padding: 2px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  height: 120px;
  width: 170px;
  display: block;
  background: rgba(132, 181, 253, 0.5);
  position: absolute;
  cursor: move;
}

// 虛擬文字區塊
.vmNote {
  // padding: 5px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  height: 100px;
  width: 220px;
  display: block;
  background: rgba(74, 146, 253, 0.3);
  position: absolute;
  cursor: move;
  .note {
    text-align: left;
    font-size: 1rem;
  }
}

// 虛擬縮放按鈕
.vmScale {
  height: 15px;
  width: 15px;
  display: block;
  position: absolute;
  right: -6px;
  bottom: -5px;
  border-bottom: #6495ED 3px solid;
  border-right: #6495ED 3px solid;
  cursor: se-resize;
}

// 虛擬刪除按鈕
.vmDelete {
  padding: 0;
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  top: -28px;
  left: 1px;
  background-color: #B5BABE;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);

  &:hover {
    background-color: #a0a4a8;
  }
}

// 虛擬套用按鈕
.vmUse {
  padding: 0;
  height: 25px;
  width: 50px;
  display: block;
  position: absolute;
  top: -28px;
  right: 1px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
}

// 虛擬套用全部按鈕
.vmUseAll {
  padding: 0 5px;
  height: 25px;
  display: block;
  position: absolute;
  top: -28px;
  right: 55px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
}

// 虛擬圈選區塊
.vmBox {
  &__wrapper {
    padding: 2px;
    display: flex;
    height: 50px;
    width: 220px;
    align-items: center;
    justify-content: center;
    border: 2px dashed #0d6efd;
    border-radius: 5px;
    // border-bottom-right-radius: 0;
    background: rgba(132, 181, 253, .5);
    position: absolute;
    cursor: move;    
    &--bg00 {
      border: 2px dashed #0d6efd;
      background: rgba(132, 181, 253, .5);
    }
    &--bg01 {
      border: 2px dashed #fdad0d;
      background: rgba(253, 227, 132, 0.584);
    }
    &--bg02 {
      border: 2px dashed #13e232;
      background: rgba(142, 253, 132, 0.5);
    }
  }
  &__compantEdit {
    align-items: start;
    justify-content: start;
    border-style: solid;
    cursor: default;
    .vmBox__note {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__note {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.5rem;
  }
  &__subtext {
    position: absolute;
    bottom: -22px;
    left: 0;
    white-space: nowrap;
    font-size: 13px;
    color: #666666;
  }
  &__arrow {
    padding: 0;
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    top: -25px;
    left: -18px;
  }
  &__scale {
    height: 15px;
    width: 15px;
    display: block;
    position: absolute;
    right: -7px;
    bottom: -6px;
    border-bottom: #6495ED 3px solid;
    border-right: #6495ED 3px solid;
    cursor: se-resize;
  }
  &__delete {
    padding: 0;
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -15px;
    left: -14px;
    border: 2px solid #FF5722;
    background-color: #FFFFFF;
    color: #FF5722;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
  
    &:hover {
      background-color: #FF5722;
      color: #FFFFFF;
    }
  }
  &__check {
    padding: 0;
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -15px;
    right: -12px;
    border: 2px solid #15a340;
    background-color: #FFFFFF;
    color: #15a340;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
  
    &:hover {
      background-color: #15a340;
      color: #FFFFFF;
    }
  }
  &__edit {
    padding: 0;
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    border-radius: 50%;
    top: -15px;
    right: -12px;
    border: 2px solid #186ac7;
    background-color: #FFFFFF;
    color: #186ac7;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);

    &:hover {
      background-color: #186ac7;
      color: #FFFFFF;
    }
  }
  &--edit {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}
.bd-00 {
  border-left: 8px solid #4e90f1;
  &:hover {
    border-left: 8px solid #4e90f1;
    background-color: #e2e2e2;
  }
}

.bd-01 {
  border-left: 8px solid #eb9c42;
  &:hover {
    border-left: 8px solid #eb9c42;
    background-color: #e2e2e2;
  }
}

.bd-02 {
  border-left: 8px solid #49c271;  
  &:hover {
    border-left: 8px solid #49c271;
    background-color: #e2e2e2;
  }
}

.hide {
  display: none;
}
.show {
  display: block;
}
.disabled {
  pointer-events: none;
}

// 印鑑檔管理
.inputSale {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;

  input {
    position: relative;
    top: -3rem;
    left: 50px;
    padding: 0;
    opacity: 0;
  }
}

.operation {
  &__card {
    position: absolute;
    right: 5px;
    bottom: 5px;
  }
}

.frame {
  width: 100%
}

// 範本
.stamp {
  &__wrapper {
    display: block;
    max-width: 170px;
    height: 100%;

    img {
      width: 100%;
    }
  }
}

// Form 表單
.queryform {
  position: relative;
  z-index: 3;
}

// 群組選單
.list-group-item-action:focus,
.list-group-item-action:hover {
  color: #000000;
  background-color: #b1d8ff;
}

// 選單設定
.select2-selection {
  &--multiple {
    overflow-y: scroll;
    height: 100px;
  }
}

.bg-lightBlue {
  background-color: #cfe2ff;
  color: #666666;
}

a { 
  text-decoration: none;
}

// 12級字
.fs-12 {
  font-size: 0.8rem;
}
// 13級字
.fs-13 {
  font-size: 0.875rem;
}

// 14級字
.fs-14 {
  font-size: 0.95rem;
}

// 導覽小幫手
// #tourbutton {
//   padding: 10px 5px;
//   position: fixed;
//   bottom: 20px;
//   right: 20px;
//   width: 40px;
// }

// 分隔線
.divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid rgba(0, 0, 0, .15);
}

// 正常滿版
.fullHeight {
  display: flex;
  justify-content: center;
  height: calc(100vh - 65px);
}