@charset "UTF-8";

@mixin sm {
  @media(max-width: 576px) {
    @content
  }
}
@mixin md {
  @media(max-width: 768px) {
    @content
  }
}
@mixin lg {
  @media(max-width: 992px) {
    @content
  }
}
@mixin xl {
  @media(max-width: 1200px) {
    @content
  }
}
@mixin xxl {
  @media(max-width: 1400px) {
    @content
  }
}

* {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Microsoft JhengHei, 新微軟正黑體, 微軟正黑體, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#mainNavBar {
  .v-application {
    &--wrap {
      min-height: initial;
    }
  }
}

.login {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  &__signin {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    @include xxl {
      max-width: 80%;
    }
    @include md {
      max-width: 80%;
    }
    @include sm {
      max-width: 90%;
    }
  }
  &__intro {
    min-height: 450px;
    background-image: url('https://picsum.photos/900/480?ramdom=10');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include xl {
      min-height: 300px;
    }
  }
}

.input {
  &__loginHeight {
    height: 82px;
    padding-top: 5px;
    padding-bottom: 0;
  }
  &__height {
    margin-top: 5px;
    height: 62px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.error-msg {
  border: 1px dotted red;
  font-style: italic;
  color: red;
}