@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>安心簽 UX SIGN 數位簽章管理系統 - 個人資料保護政策聲明</title>
  <!-- MDB icon -->
  <link rel="icon" href="~/images/uxSign.ico" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/css/fontawesome/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
  <!-- Boostrap -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <!-- 網站設定樣式 -->
  <link rel="stylesheet" href="~/css/site.css" />
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg-secondary bg-opacity-10">
  <div class="container">
    <div class="pt-5 pb-3 d-flex justify-content-between align-items-center">
      <div>
        <a class="navbar-brand" href="@Url.Action("ListToStampIndex", "ContractConsole")">
          <img src="~/images/uxSign-logo.png" alt="安心簽" style="height: 35px;">
        </a>
      </div>
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link btn-sm opacity-75 active" id="pills-tw-tab" data-bs-toggle="pill" data-bs-target="#tw"
            type="button" role="tab" aria-controls="tw" aria-selected="true">中文</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link btn-sm opacity-75" id="pills-eng-tab" data-bs-toggle="pill" data-bs-target="#eng"
            type="button" role="tab" aria-controls="eng" aria-selected="false">English</button>
        </li>
      </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane fade show active" id="tw" role="tabpanel" aria-labelledby="tw-tab">
        <h1 class="mt-4 mb-3 ps-3 border-start border-primary border-5 fs-3 fw-bolder text-primary">個人資料保護政策聲明</h1>
        <div class="bg-white rounded-2 p-5 mb-4 shadow">
          <p class="fw-bolder">感謝您蒞臨網際優勢( 以下簡稱本公司 )！ </p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">一、遵守法令</h5>
          <p>本公司將落實遵守依循「個人資料保護法」之規定，履行相關義務。如目的事業主管機關另有規定者，本公司將遵守其規定。</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">二、本公司體制</h5>
          <p>本公司對個人資料管理及使用方法，不但落實在本公司管理辦法及作業準則，並明確界定本公司員工之保密義務與責任。</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">三、內容</h5>
          <p>本公司在蒐集個人資料時，將會提出使用目的，並在當事人的同意下，以誠信、合法之方式，蒐集、處理、利用個人資料。</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">四、個人資料管理</h5>
          <p>已蒐集之個人資料將依法進行妥善之保存及刪除。若因業務需求有必要委託第三者提供服務時，本公司將嚴格要求第三者遵守<個人資料保護法>
              以保護個人資料。除非經過個人資料當事人同意、授權或依據法令規定，本公司將不會任意出售、交換或提供個人資料給其他團體或個人。如政府單位依合法正式的程序指示或申請，本公司將配合提供特定個人資料。</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">五、當事人權利行使及諮詢</h5>
          <p>尊重當事人對其個人資料所能行使之權利，包含查詢或請求閱覽、請求製給複製本、請求補充或更正、請求停止蒐集、處理或利用及請求刪除等，相關事宜請您本人電洽本公司客服專線 0800-010-626。</p>
          <p>本聲明之發布，明確宣示本公司致力於維護個人資料安全，本公司全體員工均已確實瞭解此聲明內容，且依本公司所訂定之個人資料保護管理措施，落實於日常作業流程中。</p>
          <p class="fs-5 fw-bolder text-end">網際優勢股份有限公司 敬上</p>
        </div>
      </div>
      <div class="tab-pane fade" id="eng" role="tabpanel" aria-labelledby="eng-tab">
        <h1 class="mt-4 mb-3 ps-3 border-start border-primary border-5 fs-3 fw-bolder text-primary">Personal Data
          Protection Policy Statement</h1>
        <div class="bg-white rounded-2 p-5 mb-4 shadow">
          <p class="fw-bolder">Thank you for choosing Universal eXchange Inc. ( hereinafter referred to as "the
            Company" ).</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">I. Compliance with Laws</h5>
          <p>The Company will implement and comply with the provisions of the Personal Data Protection Act and fulfill
            relevant obligations. If there are other regulations by the competent authority of the purpose business, the
            Company will comply with its regulations.</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">II. The Company’s System</h5>
          <p>The Company not only implements the management methods and operating guidelines for personal data
            management and use, but also clearly defines the confidentiality obligations and responsibilities of the
            Company’s employees.</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">III. Content</h5>
          <p>When the Company collects personal data, it will propose the purpose of use and collect, process, and use
            personal data in a good faith and legal manner with the consent of the party.</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">IV. Personal Data Management</h5>
          <p>The collected personal data will be properly preserved and deleted according to law. If it is necessary to
            entrust a third party to provide services due to business needs, the Company will strictly require the third
            party to comply with the Personal Data Protection Act to protect personal data. Unless consented or
            authorized by the personal data subject or in accordance with legal provisions, the Company will not
            arbitrarily sell, exchange or provide personal data to other groups or individuals. If a government unit
            instructs or applies according to a legal formal procedure, the Company will cooperate to provide specific
            personal data.</p>
          <h5 class="pt-1 fw-bolder text-primary opacity-75">V. Exercise of Rights and Consultation by the Party</h5>
          <p>Respect for the rights that the party can exercise on its personal data, including inquiries or requests
            for reading, requests for copies, requests for supplements or corrections, requests to stop collecting,
            processing or using, and requests for deletion, etc., please call our customer service hotline 0800-010-626.
          </p>
          <p>The publication of this statement clearly declares that the Company is committed to maintaining personal
            data security. All employees of the Company have fully understood the content of this statement and
            implemented it in daily work processes in accordance with the personal data protection management measures
            set by the Company.</p>
          <p class="fs-5 fw-bolder text-end">Universal eXchange Inc.</p>
        </div>
      </div>
      <div class="text-center pb-5">
        <button type="button" class="btn btn-primary opacity-75 px-5" onclick="history.go(-1)">回上頁</button>
      </div>
    </div>

  </div>
</body>

</html>
