@{
    Layout = null;
    var Response = ViewContext.HttpContext.Response;
    var Request = ViewContext.HttpContext.Request;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <style>
        @@page {
            size: portrait; /* 直向 */
            size: A4 portrait; /* 混合使用 */

            margin: 10cm; /* 邊界與內容的距離 */
        }
    </style>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/uxpki.js?0.5" type="text/javascript"></script>
</head>
<body>
    <div>Hello...</div>
</body>
</html>
