@charset "UTF-8";
* {
  font-family: -apple-system, Roboto, BlinkMacSystemFont, Microsoft JhengHei, 新微軟正黑體, 微軟正黑體, Segoe UI, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

#mainNavBar .v-application--wrap {
  min-height: initial;
}

.nav-link.menuLink {
  color: #FFFFFF;
}

.border__uxb2b--bottom {
  border-bottom: 1px solid #bec2c6 !important;
}

.shadow__card {
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.095) !important;
}

.navbar-uxb2b {
  background-color: rgba(133, 187, 249, 0.75);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

.login__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login__signin {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
@media (max-width: 1400px) {
  .login__signin {
    max-width: 80%;
  }
}
@media (max-width: 768px) {
  .login__signin {
    max-width: 80%;
  }
}
@media (max-width: 576px) {
  .login__signin {
    max-width: 90%;
  }
}
.login__intro {
  min-height: 450px;
  background-image: url("https://picsum.photos/900/480?ramdom=10");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (max-width: 1200px) {
  .login__intro {
    min-height: 300px;
  }
}

.input__loginHeight {
  height: 82px;
  padding-top: 5px;
  padding-bottom: 0;
}
.input__height {
  height: 62px;
}
@media (max-width: 768px) {
  .input__height {
    height: auto;
  }
}

.icon__rounded {
  width: 33px;
}
.icon__rounded > i {
  width: 15px;
}

.error-msg {
  border: 1px dotted red;
  font-style: italic;
  color: red;
}

.progresses__wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.progresses__stepGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px !important;
  z-index: 2;
}
.progresses__steps {
  display: flex;
  width: 35px;
  height: 35px;
  margin-top: 4px;
  margin-bottom: 2px;
  align-items: center;
  justify-content: center;
  background-color: #B5BABE;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
}
.progresses__steps--done {
  background-color: #63d19e;
}
.progresses__line {
  width: 90px;
  height: 3px;
  margin-left: -30px;
  margin-right: -30px;
  background-color: #B5BABE;
}
.progresses__line--done {
  background-color: #63d19e;
}
.progresses__line--w200 {
  width: 200px;
}
.progresses__signature.progresses__steps--done {
  background-color: #FFA500;
}
.progresses__signature.progresses__line--done {
  background-color: #FFA500;
}
.progresses__company {
  width: 90px;
  height: 31px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropzone {
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  border: 3px dotted rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background: #f1f6ff;
}

.dz-button.btn:focus {
  box-shadow: none;
}

.uploadFile__message {
  position: absolute;
  bottom: 18px;
  left: 50%;
  transform: translateX(-50%);
}

.cornflowerBlue {
  color: #6495ED;
}

.mediumSlateBlue {
  color: #7B68EE;
}

.boxShadow {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.btn-stamp {
  color: #fff;
  background-color: #21b22c;
  border-color: #21b22c;
}
.btn-stamp:hover {
  color: #fff;
  background-color: #1aa926;
  border-color: #1aa926;
}
.btn-stamp:focus {
  box-shadow: 0 0 0 0.25rem rgba(172, 241, 159, 0.25);
}

.btn-sign {
  color: #fff;
  background-color: #fc9600;
  border-color: #fc9600;
}
.btn-sign:hover {
  color: #fff;
  background-color: #e28a05;
  border-color: #e28a05;
}
.btn-sign:focus {
  box-shadow: 0 0 0 0.25rem rgba(241, 215, 159, 0.25);
}

.block--hover {
  cursor: pointer;
}
.block--hover .block--show {
  display: none;
}
.block--hover:hover {
  background-color: #f4f2f2;
}
.block--hover:hover .block--show {
  display: block;
}
.block--hover [type=file] {
  position: absolute;
  top: 50px;
  opacity: 0;
}
.block--border:hover {
  outline: #9cc2fa solid 3px;
}

.contractImg {
  margin: auto;
  background-color: #FFFFFF;
  cursor: crosshair;
  box-shadow: 0 0.2rem 0.25rem rgba(0, 0, 0, 0.095);
  position: relative;
}

.contract__wrapper {
  height: 100%;
  position: relative;
}
.contract__arrow--left {
  position: absolute;
  top: 50%;
  left: 50px;
  z-index: 10;
}
.contract__arrow--right {
  position: absolute;
  top: 50%;
  right: 70px;
  z-index: 10;
}

.pdf__wrapper {
  padding: 10px;
  height: 100%;
  display: block;
  text-align: center;
  overflow-y: auto;
  background-color: #fbf8f8;
}

.vmSeal {
  padding: 5px;
  border-radius: 5px;
  border-bottom-right-radius: 0;
  height: 100px;
  width: 100px;
  display: block;
  background: rgba(74, 146, 253, 0.3);
  position: absolute;
  cursor: move;
}

.vmScale {
  height: 15px;
  width: 15px;
  display: block;
  position: absolute;
  right: -6px;
  bottom: -5px;
  border-bottom: #6495ED 3px solid;
  border-right: #6495ED 3px solid;
  cursor: se-resize;
}

.vmDelete {
  padding: 0;
  height: 24px;
  width: 24px;
  display: block;
  position: absolute;
  top: -15px;
  left: -15px;
  line-height: 1;
  background-color: #B5BABE;
}
.vmDelete:hover {
  background-color: #a0a4a8;
}

.inputSale {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
}
.inputSale input {
  position: relative;
  top: -3rem;
  left: 50px;
  padding: 0;
  opacity: 0;
}

.operation__card {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.stamp__wrapper {
  display: block;
  max-width: 170px;
  height: 100%;
}
.stamp__wrapper img {
  width: 100%;
}

.queryform {
  position: relative;
  z-index: 3;
}

.list-group-item-action:focus,
.list-group-item-action:hover {
  color: #000000;
  background-color: #b1d8ff;
}

.select2-selection--multiple {
  overflow-y: scroll;
  height: 100px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.w-110 {
  width: 110px;
}/*# sourceMappingURL=site.css.map */