@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ContractHome.Models.Email.Template.TemplateShopExpired
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title></title>
</head>
<body>
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" style="border: 1px solid #ccc;">
        <tbody>
            <tr>
                <td valign="top" width="335">
                    <span class="edit-emai-text" style="font-size:20px;color:#000;font-weight: bold;font-family: arial;display:block;padding:20px 0 20px 20px;">
                        <span class="edit-email-child">欢迎来到meshop</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td valign="top" width="335">
                    <span class="edit-emai-text" style="font-size:15px;color:#000;font-weight:bold;font-family: arial;display:block;padding:20px 20px 15px 20px;">
                        <span class="edit-email-child">您的店铺<a href="@(Model.ShopHost)/admin/home">@(Model.ShopHostAdmin)</a>已经到期, 我们将为您保留@ShopSaveDays@天的店铺配置数据,@(Model.ShopCloseDate)(UTC)后我们将清除店铺的配置数据,只保留店铺注册信息。</span>
                    </span>
                </td>
            </tr>
            <tr>
                <td valign="top" width="335">
                    <span class="edit-emai-text" style="font-size:16px;color:#000;font-weight:bold;font-family: arial;display:block;padding:20px 0 15px 20px;">
                        <a class="edit-emai-link" href="@(Model.ShopHost)/admin/home" title="" style="border:1px solid #ccc;font-size:14px;border-radius: 3px; padding:5px 3px; color:#000; text-decoration:none"><span class="edit-email-child"> 立即续费 </span></a>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <TABLE style="PADDING-BOTTOM: 10px; FONT-FAMILY: Arial; MARGIN-BOTTOM: 10px; MARGIN-LEFT: auto; FONT-SIZE: 12px; MARGIN-RIGHT: auto; PADDING-TOP: 15px" border=0 cellSpacing=0 cellPadding=0 width=650 bgColor=#ffffff align=center>
        <TBODY>
            <TR>
                <TD vAlign=center width=650 align=middle>
                    <SPAN class="edit-emai-text" style="PADDING-BOTTOM:15px; DISPLAY: inline-block;vertical-align: middle;">
                        <img src="@(Model.CdnHost)/admin/favicon.ico" style="display:inline-block;width:40px;height:auto; vertical-align: middle;">
                        <span class="edit-emai-text" style=" DISPLAY: inline-block;FONT-SIZE:20px;font-weight:bold;">meshop</span>
                    </SPAN>
                </TD>
            </TR>
        </TBODY>
    </TABLE>
</body>
</html>
