<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestConsole.Properties.Settings.DigitalContractConnectionString"
            connectionString="Data Source=.;Initial Catalog=DigitalContract;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestConsole.Properties.Settings.DigitalContractConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=DigitalContract;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>