@using ContractHome.Helper
@using ContractHome.Helper.DataQuery
@using ContractHome.Models.DataEntity
@using System.Web
@*  
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860  
*@  
@{
    Layout = "~/Views/Shared/MasterPage.cshtml";
    string virtualPath = Context.Request.PathBase.ToString();
    ModelSource? models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
    var profile = (await Context.GetUserAsync()).LoadInstance(models!);
    var companyKeyID = (profile != null) ? profile.CompanyID.EncryptKey() : string.Empty;
}
<div id="categoryInfos" class="container-lg py-4">
    <section class="queryform">
        <!-- Section title -->
        <h4 class="mb-2 mt-0 fw-bolder">分類授權管理</h4>
        <!-- Section: 查詢欄位 -->
        <div class="card shadow-sm">
            <div class="container">
                <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3 m-3 mb-lg-0 data-item">
                    <div class="col input__height">
                        <div class="row">
                            <label class="col-sm-12 col-md-3 col-form-label fw-bolder">分類</label>
                            <div class="col-sm-12 col-md-9">
                                <input v-model="Keyword" type="text" class="form-control" placeholder="可輸入名稱或代碼" />
                            </div>
                        </div>
                    </div>
                    <div class="col input__height">
                        <div class="row">
                            <label class="col-sm-12 col-md-3 col-form-label fw-bolder">帳號</label>
                            <div class="col-sm-12 col-md-9">
                                <input v-model="Name" type="text" class="form-control" placeholder="可輸入帳號或Email" />
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 hstack gap-3 py-3">

                <div class="tooltip__wrapper">
                    <button type="button" class="btn btn-lg btn-success rounded-pill opacity-75" v-on:click="showCreateDialog">
                        <i class="fal fa-file-plus"></i>
                    </button>
                    <div class="tooltip__text">新增分類</div>
                </div>
                
                <div class="ms-auto">
                    <button type="button" class="btn btn-secondary opacity-75 me-2" v-on:click="resetKeyword">重設</button>
                    <button type="button" class="btn btn-primary" v-on:click="queryList">查詢</button>
                </div>
            </div>
        </div>
    </section>

    <!-- 使用者資料查詢列表 -->
    <section>
        <!-- 標題 -->
       
        <div v-if="categoryInfos.length > 0">
            <div class="card shadow-sm p-2 mb-3 table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th scope="col">名稱</th>
                            <th scope="col">代碼</th>
                            <th scope="col">授權</th>
                            <th scope="col" class="text-center">功能</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="info in categoryInfos">
                            <td class="fs-13">{{info.categoryName}}</td>
                            <td class="fs-13">{{info.code}}</td>
                            <td class="fs-13">
                                <div v-if="info.permissions && info.permissions.length">
                                <span v-for="(p, index) in info.permissions" :key="index" class="badge rounded-pill bg-success text-dark fs-13 bg-opacity-10">
                                    {{ p.name }}
                                </span>
                                </div>
                                <span v-else class="badge rounded-pill bg-success text-dark fs-13 bg-opacity-10">
                                    全部
                                </span>
                            </td>
                            <td class="text-nowrap text-center">
                                <span class="tooltip__wrapper mx-1">
                                    <button type="button" class="btn btn-sm btn-primary opacity-75 rounded-pill icon__rounded"
                                            v-on:click="showEditDialog(info)">
                                        <i class="fal fa-edit"></i>
                                    </button>
                                    <div class="tooltip__text">修改</div>
                                </span>
                                <span class="tooltip__wrapper mx-1">
                                    <button type="button" id="deleteCompany"
                                            class="btn btn-sm btn-danger opacity-75 rounded-pill icon__rounded"
                                            v-on:click="openConfirmDialog(info)">
                                        <i class="fal fa-trash-alt"></i>
                                    </button>
                                    <div class="tooltip__text">刪除</div>
                                </span>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div v-else class="card shadow-sm p-3 text-center">
            <span class="text-primary opacity-75" style="font-size: 50px;">
                <i class="fad fa-folder-open"></i>
            </span>
            <span class="text-primary opacity-75 fw-bolder">查無資料</span>
        </div>
    </section>


    <!-- 新增 Dialog -->
    <div class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title fw-bolder" id="staticBackdropLabel">{{ isCreate ? '新增' : '編輯' }}分類資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form v-on:submit.prevent method="post" enctype="multipart/form-data">
                        <div class="container">
                            <div class="row row-cols-1 m-3 mb-lg-0 data-item">
                                <div class="col input__height">
                                    <div class="row">
                                        <label class="col-sm-12 col-md-3 col-form-label fw-bolder">分類名稱</label>
                                        <div class="col-sm-12 col-md-9">
                                            <input v-model="categoryInfo.categoryName" class="form-control form-control-sm"
                                                   :class="{ 'is-invalid': isSubmitted && !categoryInfo.categoryName?.trim() }" />
                                            <div class="invalid-feedback">
                                                請輸入分類名稱
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col input__height">
                                    <div class="row">
                                        <label class="col-sm-12 col-md-3 col-form-label fw-bolder">分類代碼</label>
                                        <div class="col-sm-12 col-md-9">
                                            <input v-model="categoryInfo.code" class="form-control form-control-sm"
                                                   :class="{ 'is-invalid': isSubmitted && !categoryInfo.code?.trim() }" />
                                            <div class="invalid-feedback">
                                                請輸入分類代碼
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col">
                                    <div class="row">
                                        <label class="col-sm-12 col-md-3 col-form-label fw-bolder">授權帳號</label>
                                        <div class="col-sm-12 col-md-9">
                                            <div class="personnel-list-container mt-3">
                                                <div v-for="user in companyUsers" :key="user.keyID" class="form-check fs-5 mb-2">
                                                    <input class="form-check-input" type="checkbox" v-model="user.selected" :id="'check-' + user.keyID">
                                                    <label class="form-check-label" :for="'check-' + user.keyID">
                                                        {{ user.name }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button v-if="isCreate" type="button" class="btn btn-primary" v-on:click="createData">確定</button>
                    <button v-else type="button" class="btn btn-primary" v-on:click="editData">確定</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 訊息 Dialog -->
    <div class="modal fade" id="infoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="infoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center h5 fw-bolder pt-5">
                    <div>
                        <div class="pb-2 text-danger opacity-75" :class="isSuccess ? 'text-success' : 'text-danger'" style="font-size: 4rem">
                            <i class="fas" :class="isSuccess ? 'fa-check-circle' : 'fa-exclamation-circle'"></i>
                        </div>
                        <div v-html="infoMsg"></div>
                    </div>
                </div>
                <div class="modal-footer border-top-0 justify-content-center">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="queryList">關閉</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 確認 Dialog -->
    <div class="modal fade" id="confirmModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="staticBackdropLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center h5 fw-bolder" v-html="confirmMsg"></div>
                <div class="modal-footer border-top-0 justify-content-center">
                    <button type="button" class="btn btn-secondary opacity-50" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" v-on:click="deleteCategory">確定</button>
                </div>
            </div>
        </div>
    </div>

</div>

<style>
    .personnel-list-container {
        max-height: 500px;
        overflow-y: auto;
        border: 1px solid #dee2e6;
        padding: 1rem;
        border-radius: .25rem;
    }
</style>

<script src="~/js/api.js"></script>
<script>

    var app = new Vue({
        el: '#categoryInfos',
        data: {
            apiPath: '@virtualPath/api/ContractCategory/',
            categoryInfos: [],
            Keyword: '',
            Name: '',
            KeyID: '@Html.Raw(companyKeyID)',
            categoryInfo: {
                categoryName: '',
                code: '',
                permissions: []
            },
            companyUsers: [],
            infoMsg: '',
            confirmMsg: '',
            isSubmitted: false,
            isSuccess: true,
            deleteInfo: null,
            isCreate: true,
            actionMsg: {
                QueryError: '搜尋失敗，原因：',
                CreateError: '存檔失敗，原因：',
                ModifyError: '存檔失敗，原因：',
                DeleteError: '存檔失敗，原因：',
                GetCompanyUsersError: '搜尋失敗，原因：',
                GetContractCategoryInfoError: '搜尋失敗，原因：',
                SaveSuccess: '存檔完成',
                DeleteConfirm: '確定要刪除分類'
            }
        },
        async mounted() {
            await this.queryList();
            await this.getCompanyUsers();
        },
        methods: {
            async postData(apiAction, data) {

                this.isSuccess = true;
                showLoading();
                const result = await postData(this.apiPath + apiAction, data);
                hideLoading();

                if (result.hasError) {
                    this.infoMsg = this.actionMsg[apiAction + 'Error'] + result.message;
                    this.isSuccess = false;
                    $('#infoModal').modal('show');
                    return result;
                }

                return result;
            },
            async queryList() {
                const data = { "KeyID": this.KeyID, "Keyword": this.Keyword, "Name": this.Name };

                const result = await this.postData('Query', data);

                if (result.hasError) {
                    return result;
                }

                this.categoryInfos = result.data;
            },
            async getCompanyUsers() {
                const data = { "KeyID": this.KeyID };

                const result = await this.postData('GetCompanyUsers', data);

                if (result.hasError) {
                    return result;
                }

                this.companyUsers = result.data.map(user => ({
                            name: user.name,
                            keyID: user.keyID,
                            selected: false
                        }));
            },
            async createData() {
                this.isSubmitted = true;

                if (!this.isValidField()) {
                    return;
                }

                this.categoryInfo.permissions = this.companyUsers.filter(user => user.selected)
                                                .map(user => ({ KeyID: user.keyID }));

                const result = await this.postData('Create', this.categoryInfo);

                if (result.hasError) {
                    return result;
                }

                this.isSubmitted = false;

                this.infoMsg = this.actionMsg['SaveSuccess'];
                $('#infoModal').modal('show');
                $('#formModal').modal('hide');
            },
            async editData() {
                this.isSubmitted = true;

                if (!this.isValidField()) {
                    return;
                }
                this.categoryInfo.permissions = this.companyUsers.filter(user => user.selected)
                                                .map(user => ({ KeyID: user.keyID }));

                const data = { KeyID: this.categoryInfo.keyID, ...this.categoryInfo };

                const result = await this.postData('Modify', data);

                if (result.hasError) {
                    return result;
                }

                this.isSubmitted = false;
                this.infoMsg = this.actionMsg['SaveSuccess'];
                $('#infoModal').modal('show');
                $('#formModal').modal('hide');
            },
            async deleteCategory() {
                $('#confirmModal').modal('hide');
                const data = { KeyID: this.deleteInfo.keyID };

                const result = await this.postData('Delete', data);

                if (result.hasError) {
                    return result;
                }

                this.infoMsg = this.actionMsg['SaveSuccess'];
                $('#infoModal').modal('show');
            },
            async showEditDialog(info) {
                const data = { KeyID: info.keyID };

                const result = await this.postData('GetContractCategoryInfo', data);
                if (result.hasError) {
                    return result;
                }

                this.isCreate = false;
                this.categoryInfo = result.data;
                this.companyUsers = this.categoryInfo.permissions;
                
                $('#formModal').modal('show');
            },
            showCreateDialog() {
                this.isCreate = true;
                this.categoryInfo = {
                    categoryName: '',
                    code: '',
                    permissions: []
                }
                this.companyUsers = this.companyUsers.map(user => ({ ...user, selected: false }));
                $('#formModal').modal('show');
            },
            openConfirmDialog(info) {
                this.confirmMsg = `${this.actionMsg['DeleteConfirm']}：${info.categoryName}？`;
                this.deleteInfo = info;
                $('#confirmModal').modal('show');
            },
            isValidField() {
                if (!this.categoryInfo.categoryName?.trim() || !this.categoryInfo.code?.trim()) {
                    return false;
                }
                return true;
            },
            resetKeyword() {
                this.Keyword = ''
                this.Name = '';
            }
        }
    })
</script>