@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json
@{
  Layout = "~/Views/Shared/MasterPage.cshtml";

  ModelStateDictionary _modelState;
  ModelSource? models;

  models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
  _modelState = (ModelStateDictionary)ViewBag.ModelState;
  QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;


}
<div class="container">
  <section>
    <!-- Section title -->
    @{
      await Html.RenderPartialAsync("~/Views/Shared/Global/PageResource.cshtml");
      await Html.RenderPartialAsync("~/Views/SiteAction/FunctionTitleBar.cshtml", "上傳合約");
    }

    <!--Section: Demo-->
    <section class="pb-4">
      <div class="bg-white border rounded-5">
        <section class="w-100 p-4 d-flex justify-content-center pb-4">
          <form method="post" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">
                <label for="No" class="form-label">合約發起人 <i class="fas fa-window-restore"></i></label>
                @{
                  await Html.RenderPartialAsync("~/Views/Home/Module/CompanyQuickSearch.cshtml", "Initiator");
                }
              </div>
              <div class="col-md-6">
                <label for="No" class="form-label">合約發起人身份</label>
                @{
                  await Html.RenderPartialAsync("~/Views/ContractConsole/Module/ContractingIntentSelection.cshtml",
                  "InitiatorIntent");
                }
              </div>
              <div class="col-md-6">
                <label for="No" class="form-label">簽約人</label>
                @{
                  await Html.RenderPartialAsync("~/Views/Home/Module/CompanyQuickSearch.cshtml", "Contractor");
                }
              </div>
              <div class="col-md-6">
                <label for="No" class="form-label">簽約人身份</label>
                @{
                  await Html.RenderPartialAsync("~/Views/ContractConsole/Module/ContractingIntentSelection.cshtml",
                  "ContractorIntent");
                }
              </div>
              <div class="col-md-6">
                <label for="No" class="form-label">合約編號</label>
                <input type="text" class="form-control" name="No" id="No">
              </div>
              <div class="col-md-6">
                <label class="form-label" for="customFile">請選擇合約(.docx; .pdf)檔</label>
                <input type="file" class="form-control" name="ContractDoc" />
              </div>
              <div class="col-md-6">
                <button type="button" onclick="saveContract();">傳送</button>
              </div>
            </div>
          </form>
          <script>
            function saveContract() {
              clearErrors();
              $('form').ajaxForm({
                url: '@Html.Raw(Url.Action("SaveContract", "ContractConsole"))',
                data: $global.viewModel,
                beforeSubmit: function () {
                  showLoading();
                },
                success: function (data) {
                  hideLoading();
                  if ($.isPlainObject(data)) {
                    if (data.result) {
                      alertModal('合約傳送完成!!');
                    } else {
                      alertModal(data.message);
                    }
                  }
                  else {
                    $(data).appendTo($('body'));
                  }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                  hideLoading();
                  console.log(xhr.status);
                  alertModal(thrownError);
                }
              }).submit();
            }
          </script>

        </section>
      </div>
    </section>
  </section>
</div>
