@using System.IO
@using System.Linq.Expressions
@using Microsoft.AspNetCore.Mvc.ModelBinding

@using ContractHome.Helper
@using ContractHome.Controllers
@using ContractHome.Models.DataEntity
@using ContractHome.Models.ViewModel
@using CommonLib.Utility
@using Newtonsoft.Json
@{
    Layout = "~/Views/Shared/Module/CenterModalTemplate.cshtml";

    ModelStateDictionary _modelState;
    ModelSource? models;
    ContractSignatureRequest _model = (ContractSignatureRequest)this.Model;

    models = (ModelSource?)ViewContext.HttpContext.Items["Models"];
    _modelState = (ModelStateDictionary)ViewBag.ModelState;
    QueryViewModel _viewModel = (QueryViewModel)ViewBag.ViewModel;
    _viewModel.DialogID = $"sign{DateTime.Now.Ticks}";

}

@section ModalHeader
{
    <h5 class="modal-title">合約數位簽章</h5>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">合約編號：@(_model.Contract.ContractNo)</h5>
        <p class="card-text">您將代表@(_model.Organization.CompanyName)對此合約進行數位簽章。</p>
    </div>
</div>

@section ModalFooter
    {
    <button type="button" class="btn btn-primary btn-confirm">確定</button>
    <button type="button" class="btn btn-light waves-effect" data-dismiss="modal" onclick="$('#@(_viewModel.DialogID)').modal('hide');">關閉</button>
    <script nonce="Y2hiY29kZQ==">
        $(function () {

            var $currentModal = $('#@(_viewModel.DialogID)');
            $('#@(_viewModel.DialogID) button.btn-confirm').on('click', function () {

                var $formData = $currentModal.find('input,select,textarea').serializeObject();
                $formData.KeyID = '@Html.Raw(JsonConvert.SerializeObject(new { ContractID = _model.ContractID, CompanyID = _model.CompanyID}).EncryptData())';

                showLoading();
                clearErrors();
                $.post('@Html.Raw(Url.Action("CommitDigitalSignature", "ContractConsole"))', $formData, function (data) {
                    hideLoading();
                    if ($.isPlainObject(data)) {
                        if (data.result) {
                            alertModal('簽章完成!!');
                            $inquiryAgent.inquire($inquiryAgent.viewModel.PageIndex);
                            $currentModal.modal('hide');
                        } else {
                            alertModal('簽章失敗!!');
                        }
                    } else {
                        $currentModal.modal('hide');
                        $(data).appendTo($('body'));
                    }
                });
            });
        });
    </script>
}


