@using ContractHome.Models.DataEntity;
@using ContractHome.Models.ViewModel;
@using ContractHome.Helper;
@{
    Layout = null;
    QueryViewModel? _viewModel = ViewBag.ViewModel as QueryViewModel;
    UserProfile? profile = await Context.GetUserAsync();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Digital Contract</title>
    <!-- MDB icon -->
    <link rel="icon" href="~/img/mdb-favicon.ico" type="image/x-icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/css/mdb.min.css" />
    <!-- MDB -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <script type="text/javascript" src="~/js/mdb.min.js"></script>
    <!-- Custom scripts -->
    <link rel="stylesheet" href="~/lib/jquery-ui/Content/themes/base/all.css" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    @{
        await Html.RenderPartialAsync("~/Views/Shared/CommonScriptInclude.cshtml");
    }
</head>
<body>

    @*@if (_viewModel?.PageMainTitle != null)
    {
        <header class="section-header py-4">
            <div class="container">
                <h2>@(_viewModel.PageMainTitle)</h2>
            </div>
        </header>
    }*@
    <!-- Start your project here-->
    <!-- Navbar -->
    @{
        if (profile != null)
        {
            await Html.RenderPartialAsync("~/Views/Shared/SiteAction/MainNavBar.cshtml");
        }
    }
    @RenderBody()
    <!-- End your project here-->
</body>
</html>
