@using ContractHome.Models.DataEntity;
@using ContractHome.Models.ViewModel;
@using ContractHome.Helper;
@{
  Layout = null;
  QueryViewModel? _viewModel = ViewBag.ViewModel as QueryViewModel;
  UserProfile? profile = await Context.GetUserAsync();
}
<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Digital Contract</title>
  <!-- MDB icon -->
  <link rel="icon" href="~/images/uxSign.ico" type="image/x-icon" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/css/fontawesome/all.css" />
  <!-- Google Fonts Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
  <!-- Boostrap -->
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <!-- Custom scripts -->
  <link rel="stylesheet" href="~/lib/jquery-ui/Content/themes/base/all.css" />
  <!-- 拖曳上傳模組 -->
  <link rel="stylesheet" href="~/lib/dropzone/dropzone.min.css" type="text/css" />
  <!-- datepicker 和語系檔 -->
  <link href="~/lib/datepicker/core.min.css" rel="stylesheet" type="text/css">
  <link href="~/lib/datepicker/datepicker.min.css" rel="stylesheet" type="text/css">
  <!-- selecter2 for bootstrap5 -->
  <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
  <link rel="stylesheet" href="~/lib/select2/css/select2-bootstrap-5-theme.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/vue.js"></script>
  <script src="~/js/axios.min.js"></script>
  @{
    await Html.RenderPartialAsync("~/Views/Shared/CommonScriptInclude.cshtml");
    await Html.RenderPartialAsync("~/Views/Shared/DataOperationScript.cshtml");
  }
</head>

<body>
  <!-- Navbar -->
  @{
    if (profile != null)
    {
      await Html.RenderPartialAsync("~/Views/Shared/SiteAction/MainNavBar.cshtml");
    }
  }
  <!-- Container -->
  @RenderBody()
</body>

</html>
